@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans);
body {
  font-family: 'Open+Sans', Arial, sans-serif;
  font-size: 16px;
  color: #333; }

h1, h2, h3, h4 {
  font-family: 'Lato', Arial, sans-serif;
  text-align: center; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.875em; }

a {
  color: #0070CA;
  text-decoration: underline; }

div.layer {
  padding: 40px 0;
  border-bottom: 1px solid #999; }

div.top {
  background: url("mqt.jpg") no-repeat top center;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #999; }
  div.top h1 {
    text-align: left;
    color: #fff;
    display: none; }
  div.top h2 {
    text-align: left;
    margin: 0 0 30px 20px;
    color: #FDAF08;
    font-size: 2.25em; }
  div.top div.lakeview {
    padding-top: 60px; }
    div.top div.lakeview img {
      width: 100%;
      display: inline-block;
      margin-bottom: 10px; }
    div.top div.lakeview img.win {
      border: 1px solid #fff; }
  div.top div.aside {
    padding-top: 60px;
    color: #fff;
    text-align: center; }
    div.top div.aside p {
      margin-bottom: 30px; }
    div.top div.aside a.register {
      display: inline-block;
      background: #FDAF08;
      padding: 10px 50px;
      border: 1px solid #999;
      border-radius: 8px;
      font-size: 1.125em;
      color: #333;
      text-decoration: none;
      margin-bottom: 20px; }
    div.top div.aside a.register:hover {
      text-decoration: underline;
      color: #fff;
      background: #fbbe57; }
    div.top div.aside div.fees {
      margin-bottom: 10px; }
      div.top div.aside div.fees p {
        margin: 0 0 5px 0; }

nav {
  float: right;
  font-size: 1.125em; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav li {
    display: inline; }
    nav li a {
      padding: 5px 15px;
      color: #fff;
      text-decoration: none;
      display: inline-block; }
    nav li a:hover {
      color: #FDAF08; }

@media only screen and (max-width: 400px) {
  div.top div.container {
    padding: 0; }
    div.top div.container nav {
      float: none;
      display: block;
      margin: 0 auto; }
      div.top div.container nav li a {
        padding: 5px 4px;
        font-size: 0.75em;
        border-right: 1px solid #FFF; }
      div.top div.container nav li:last-child a {
        border-right: 0; }
    div.top div.container h1 {
      font-size: 1.5em; }
    div.top div.container h2 {
      font-size: 1.125em; } }
div.win {
  text-align: center; }
  div.win img {
    max-width: 100%; }

div.info {
  text-align: left; }
  div.info ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0; }
  div.info h3 {
    text-align: left; }

div.photo {
  background: #f1f1f1; }
  div.photo div.carousel {
    max-width: 1024px;
    margin: 0 auto; }

div.layer2 {
  background: #fff;
  color: #333;
  text-align: center; }
  div.layer2 a {
    color: #0070CA;
    text-decoration: underline; }
  div.layer2 img {
    border: 1px solid #0070CA;
    padding: 0;
    margin: 0;
    max-width: 100%; }

div.results, div.sponsor {
  background: #0070CA;
  color: #fff;
  text-align: center; }
  div.results a, div.sponsor a {
    color: #FDAF08;
    text-decoration: underline; }
  div.results p, div.sponsor p {
    margin-bottom: 30px; }
  div.results div.row, div.sponsor div.row {
    margin-bottom: 30px; }
    div.results div.row div img, div.sponsor div.row div img {
      max-width: 100%; }

div.volunteer {
  background: #f1f1f1;
  color: #333;
  text-align: center; }
  div.volunteer a {
    color: #0070CA;
    text-decoration: underline; }

body.become-sponsor {
  background: #0070CA; }
  body.become-sponsor div.top {
    color: #fff;
    padding-bottom: 5px; }
  body.become-sponsor div.letter {
    background: #fff; }
    body.become-sponsor div.letter h1 {
      margin-bottom: 30px; }
    body.become-sponsor div.letter div.content {
      max-width: 700px;
      margin: 0 auto;
      line-height: 26px; }

/*# sourceMappingURL=main.css.map */
