
$twelvepx: 0.75em;
$fourteenpx: 0.875em;
$eighteenpx: 1.125em;
$twentyfourpx: 1.5em;
$thirtypx: 1.875em;
$thirtysixpx: 2.25em;
$blue: #0070CA;
$orange: #FDAF08;

@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans);

body {
	font-family: 'Open+Sans', Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

h1, h2, h3, h4 { font-family: 'Lato', Arial, sans-serif; text-align: center; }

h1 { font-size: $thirtysixpx;  }
h2 { font-size: $thirtypx;  }

a {
		color: $blue; text-decoration: underline;
	}

div.layer { padding: 40px 0; border-bottom: 1px solid #999; }

div.top { 
	background: url('mqt.jpg') no-repeat top center;
	padding: 0 0 40px 0;  
	h1 { text-align: left; color: #fff; }
	h2 { text-align: left; margin: 0 0 30px 20px; color: $orange; font-size: $twentyfourpx; }

	div.lakeview {
		img { width: 100%; border: 1px solid #fff; display: inline-block; margin-bottom: 10px; }
	}	

	div.aside {
		color: #fff;
		text-align: center;

		p { margin-bottom: 30px; }

		a.register {
			display: inline-block;
			background: $orange;
			padding: 10px 50px;	
			border: 1px solid #999;
			border-radius: 8px;
			font-size: $eighteenpx;
			color: #333;
			text-decoration: none;			
			margin-bottom: 20px;
		}
		a.register:hover { 
			text-decoration: underline;
			color: #fff;
			background: #fbbe57;
		}


		div.fees {
			margin-bottom: 10px;
			p { margin: 0 0 5px 0; }
		}

	}

}

nav {
	float: right;
	font-size: $eighteenpx;
	ul { list-style: none; margin: 0; padding: 0; }
	li { 
		display: inline; 
		a { padding: 5px 15px; color: #fff; text-decoration: none; display: inline-block; }
		a:hover { color: $orange; }
	}

}

@media only screen and (max-width: 400px) {

	div.top {
		div.container { 
			padding: 0; 

			nav {	
				float: none;
				display: block;
				margin: 0 auto;	
				li {
					a { padding: 5px 4px; font-size: $twelvepx;   border-right: 1px solid #FFF; }
				}
				li:last-child a { border-right: 0; }
			}

			h1 { font-size: $twentyfourpx; }
			h2 { font-size: $eighteenpx; }

		}

	}

	

}

div.info {

	text-align: left; 
	ul { list-style: none; margin: 0 0 20px 0; padding: 0; }
	h3 { text-align: left; }


}

div.photo {
	background: #f1f1f1;

	div.carousel {
		max-width: 1024px; margin: 0 auto;
	}

}

div.layer2 {
	background: #fff; color: #333; text-align: center; 
	a {
		color: $blue; text-decoration: underline;
	}

	img { border: 1px solid $blue; padding: 0; margin: 0; max-width: 100%; }

}

div.results, div.sponsor {
	background: $blue; color: #fff; text-align: center; 
	a {
		color: $orange; text-decoration: underline;
	}

	p {
		margin-bottom: 30px;
	}

	div.row {
		margin-bottom: 30px; 
		div img { max-width: 100%; }
	}


}

div.volunteer {
	background: #f1f1f1; color: #333; text-align: center; 
	a {
		color: $blue; text-decoration: underline;
	}
}

body.become-sponsor {

	background: $blue;

	div.top {
		color: #fff;
		padding-bottom: 5px;
	}	

	div.letter {
		background: #fff;

		h1 { margin-bottom: 30px; }
	
		div.content { max-width: 700px; margin: 0 auto; line-height: 26px; }

	}



}

