
$fourteenpx: 0.875em;
$eighteenpx: 1.125em;
$twentyfourpx: 1.5em;
$thirtypx: 1.875em;
$thirtysixpx: 2.25em;
$blue: #0070CA;
$orange: #FDAF08;

@import url(https://fonts.googleapis.com/css?family=Lato|Open+Sans);

body {
	font-family: 'Open+Sans', Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

h1, h2, h3, h4 { font-family: 'Lato', Arial, sans-serif; text-align: center; }

h1 { font-size: $thirtysixpx;  }
h2 { font-size: $thirtypx;  }

a {
		color: $blue; text-decoration: underline;
	}

div.layer { padding: 40px 0; }

div.top { 
	background: url('mqt.jpg') no-repeat top center;
	padding: 0 0 40px 0;  
	h1 { text-align: left; color: #fff; }
	h2 { text-align: left; margin: 0 0 30px 20px; color: $orange; font-size: $twentyfourpx; }

	div.lakeview {
		img { width: 100%; border: 1px solid #fff; display: inline-block; margin-bottom: 10px; }
	}	

	div.aside {
		color: #fff;
		text-align: center;

		p { margin-bottom: 30px; }

		a.register {
			display: inline-block;
			background: $orange;
			padding: 10px 50px;	
			border: 1px solid #999;
			border-radius: 8px;
			font-size: $eighteenpx;
			color: #333;
			text-decoration: none;			
		}
		a.register:hover { 
			text-decoration: underline;
			color: #fff;
			background: #fbbe57;
		}

	}

}

nav {
	font-size: $eighteenpx;
	ul { list-style: none; margin: 0; padding: 0; }
	li { 
		display: inline; 
		a { padding: 5px 15px; color: #fff; text-decoration: none; display: inline-block; }
		a:hover { color: $orange; }
	}

}

@media only screen and (max-width: 400px) {
	nav {		
		li { 
			a { padding: 5px 5px; font-size: $fourteenpx; }
		}
	}

}

div.layer2 {
	background: #fff; color: #333; text-align: center; 
	a {
		color: $blue; text-decoration: underline;
	}

	img { border: 1px solid $blue; padding: 0; margin: 0; max-width: 100%; }

}

div.results, div.sponsor {
	background: $blue; color: #fff; text-align: center; 
	a {
		color: #fff; text-decoration: underline;
	}
}

div.volunteer {
	background: #f1f1f1; color: #333; text-align: center; 
	a {
		color: $blue; text-decoration: underline;
	}
}

